body {
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background: url('../../public/finn.png');
  background-size: cover;
}

.answer-container {
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
  background-color: rgba(0, 0, 50, 0.7);
  border: 3px solid #004080;
  border-radius: 12px;
  padding: 20px;
  color: white;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 100, 0.8);
  margin-top: 180px;
}

.answer-item {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  margin: 10px 0;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.answer-item.correct {
  background-color: #006400;
  color: #adff2f;
}

.answer-item.wrong {
  background-color: #8b0000;
  color: #ff7f7f;
  text-decoration: line-through;
}

.answer-item.pending {
  background-color: #001f4d;
  color: #66ccff;
}

.question-number {
  margin-right: 10px;
}

.buttons {
  display: flex;
  justify-content: flex-end;

}

.button {
  background-color: rgba(0, 0, 0, 0.7);
  color: aliceblue;
  margin: 100px;
  font-size: 30px;
  padding: 20px;
  border-radius: 10px;
  border: none;
}